<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Welcome to Angular 15</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/home" >Home</a>
      <a class="nav-link" routerLink="/news">News</a>
      <a class="nav-link" routerLink="/form">Form</a>
      <a class="nav-link" routerLink="/reactive-form">Reactive Form</a>
      <a class="nav-link" routerLink="/qrcode">QR Code</a>
      <a class="nav-link" routerLink="/parent">Parent</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
